<% content_for :page_title do %>
  <%= Spree.t(:loyalty_points) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_users_list), admin_users_path, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @loyalty_points_transaction.user } %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @loyalty_points_transaction } %>

<div id='loyalty-points-order-transactions'></div>

<%= form_for @loyalty_points_transaction, as: :loyalty_points_transaction, url: admin_user_loyalty_points_transaction_path(@user.id, @loyalty_points_transaction.id) do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
<% end %>
